.rodape {
    margin-top: 30rem;
    height: 5rem;
    background-color: beige;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.rodape > p {
    font-weight: 700;
    align-self: center;
}