/* MAIN  */

.caixa-geral {
    margin: 0 auto;
    width: 70%;
}
 
.button__novo-produto {
    margin-top: 2rem;
}

table, th, tr, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

th, tr, th, td {
padding: 0.2rem;
text-align: center;
vertical-align: middle;
}

.borda-area-botoes, .borda-area-botoes {
    border: none;
} 

.limite-width {
    max-width: 5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.conjunto-texto_botao {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    border-radius: 0.2rem;
    padding: 0.5rem;
}

.botao__lista-produtos {
    /* border: 1px solid black; */
    border-radius: 0.2rem;
    padding: 0.2rem;
}

.tabela__logo {
    height: 1.2rem;
    width: 1.2rem;
}


