body {
    font-family: sans-serif;
}

.button__geral {
    text-decoration: none;
    font-size: 1.2rem;
    border: 1px solid black;
    border-radius: 2px;
    padding: 0.8rem;
    vertical-align: auto;
}

.button__geral:hover {
    background-color: cadetblue;
    transition: 1s;
    cursor: pointer;
}

.button__geral:active {
    background-color: rgb(64, 122, 124);
    cursor: default;
}













