body {
    font-family: sans-serif;
}

.caixa-geral__titulo {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: blue;
    font-weight: 700;
    font-size: 2rem;
}

.error-menssage {
    color: #dc3545;
}

.sucess-menssage {
    color: #198754;
}

.button__geral {
    text-decoration: none;
    font-size: 1.2rem;
    border: 1px solid black;
    border-radius: 2px;
    padding: 0.8rem;
    vertical-align: auto;
}

.button__geral:hover {
    background-color: cadetblue;
    transition: 1s;
    cursor: pointer;
}

.button__geral:active {
    background-color: rgb(64, 122, 124);
    cursor: default;
}













