.corpo-show {
    margin: 0 auto;
    width: 70%;
    max-width: 1200px;
    margin-top: 5rem;
    font-size: 1.5rem;
}

.corpo-show__itens > p {
    margin-top: 0.5rem;
    font-weight: bold;
}

.corpo-show__itens > p > span {
    font-weight: 100;
}
.corpo-show__menu {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.corpo-show__menu {
    margin-top: 1rem;
}